* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(184, 43, 71);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    min-height: 100vh;
    display: grid;
    place-items: center;
 
}

.container {
    background-color: rgb(160, 34, 59);
    border: 1px solid white;
    border-radius: 20px;
    padding: 20px;
    max-width: 300px;
}

#number{
    font-size: 100px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white; 
}

a{
    color: yellow;
    text-decoration: none;
}

button{
padding: 10px 10px;
color: black;
font-size: 1em;
background-color: white;
border-radius: 5px;
cursor: pointer;
}

p{
    padding: 25px;
    }